@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
       font-family: 'Inter', sans-serif;
}

input[type="radio"]:checked + span {
  display: block;
}
.common-btn{

color: #fff;
background: #0674BB;
border-radius: 40px;
    
}

input[type="radio"] {
	appearance: none;
	/* background, border etc to customize */ 
}

.shadow-custom{
  box-shadow: 0px 2.9566px 2.9566px rgba(0, 0, 0, 0.25), inset 0px 1.4783px 2.9566px rgba(255, 255, 255, 0.25), inset 0px -1.4783px 2.9566px rgba(0, 0, 0, 0.25)
}


@media (max-width:576px) {
::placeholder{
    font-size: 14px;
}

.consult-now ::placeholder{
  font-size: 15px;
  color: #989797;
}
}
